@tailwind base;
@tailwind components;
@tailwind utilities;
html, body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
.container {
  margin: 0 auto;
  max-width: 100%; /* Prevent any overflow */
}